[build]
publish = "public"
command = "hugo"

[context.production.environment]
HUGO_VERSION = "v0.80.0"
HUGO_ENV = "production"
HUGO_ENABLEGITINFO = "true"

[context.deploy-preview]
command = "hugo -b $DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
HUGO_VERSION = "v0.80.0"

[context.branch-deploy]
command = "hugo -b $DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
HUGO_VERSION = "v0.80.0"

[[redirects]]
from = "https://iassistdata.org/conferences/archive/2018/*"
to = "https://iassistdata.org/conferences/archive/2018-montreal/"
status = 301

[[redirects]]
from = "https://iassistdata.org/conferences/archive/2019/*"
to = "https://iassistdata.org/conferences/archive/2019-sydney/"
status = 301
