/* your styles go here */

.navbar-brand {
  height: 80px;
}

#navigation > ul > li.dropdown > a {
  line-height: 33px;
}

/* these ones were already here */
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* Couldn't figure out where the figcation structure is set, so bluntly modifying the code instead*/
figcaption h4 {
  /*background-color:white;*/
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px;
}

table {
	/*border:1px solid #f2f3ee;*/
	border-collapse:collapse;
	/*margin:0 0 2.5rem;*/
	/*width:100%*/
}

th { padding-bottom: .3em;font-size:12pt; }
td { padding:0 1em 0 0; }

figure.wrap { float:left; padding: .5em 1em 0 0; border:solid silver 0px; }

li.alternate { margin-left: 2em; padding-bottom: .25em; }