/* your styles go here */
body {
/*color: #2B2B2B; this would provide enough contrast for the text links.*/
/*font-size: 14px; can't do this without fixing header separately */
}

.navbar-brand {
  height: 80px;
}

#navigation > ul > li.dropdown > a {
  line-height: 33px;
}

/* these ones were already here */
.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

/* Couldn't figure out where the figcation structure is set, so bluntly modifying the code instead */
figcaption h4 {
  /*background-color:white;*/
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px; /* or relative em */
}

figcaption p {
  /*background-color:white;*/
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px; /* or relative em */
}

/* Very basic breathing room for tables, table headers and cells */
table {
	/*border:1px solid #f2f3ee;*/
	border-collapse:collapse;
	margin:0 0 2.5rem;
	/*width:100%*/
}

th { 
	padding-bottom: .3em;
	padding-right:1em;
	color:#555555;
	font-size:12pt;
}

td {
	padding:0 1em 0 0;
}

/*For images that need to have text wrapped around them */
figure.wrap {
	float: left;
	padding: .5em 1em 0 0;
	border: solid silver 0px;
}

/* For longer lists needing a little space around the items */
li.alternate { 
	margin-left: 1em;
	padding-bottom: .25em;
}

/* Lets make front page icons a bit bigger (all fas) */
.icon .fas {
    font-size: xx-large;
}

.fa, .fab, .fad, .fal, .far, .fas {
    line-height: inherit;
}

dl dt {
	padding-top: .5em;
}

dl dt:first-of-type {
	padding-top: 0em;	
}

#content .container {
	/*color: red;*/
	font-size: 16px;
	}

/* Simple to change top banner background: copy a new file to banners folder and activate this rule.
#heading-breadcrumbs {
    background: url('/img/banners/binary-pink.png') center center repeat;
}
*/

.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  background: url('/img/iassist-photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home-carousel {
  position: relative;
  background: url('/img/iassist-photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/* --- Various accessibility fixes added to the Pink theme. --- */

.btn-template-main {
  color: #af588e;
}

.btn-template-main:hover,
.btn-template-main:focus,
.btn-template-main:active,
.btn-template-main.active {
  background: #af588e; /*c27baa*/
  border-color: #af588e; /*c27baa*/
}

.box-simple p {
  color: #767676; /*#999999*/
}

.panel.sidebar-menu ul.tag-cloud li a {
  color: #af588e; /*c27baa*/
}

.box-image-text .content p {
  color: #767676; /*#999999*/
}

#footer {
  background-image: url("/img/banners/footer-background.jpg");	
  /* This is let as default -- background-color: #555555; */
  /*height: 500px; /* Must set a specified height? */
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; /* Resizing the background image to cover the entire container */  
  /* This is let as default --   padding: 50px 0; */
  color: #cccccc; /*#999999*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #af588e; /*c27baa*/
}

a {
  color: #af588e; /*c27baa*/
}

a:hover,
a:active {
  color: #69006B;
  /*background-color: #f5f5f5;*/
}

a:focus {
  outline: 3px dotted #2b2b2b;
}

.footerLinks a {
    color: #e1c1d6; /* pale pink to give enough contrast */
}

div.home-carousel {
	background-color:#af588e; /* alternative fallback colour for accessibility */
}

.text-muted {
  color: #6F6F6F; /* Drawn from bootstrap, locally changed to a bit darker for accessibility. Was #777 */
}

/* -- Accessibility section ends -- */

/*Always hide conference abstracts at first, implemented in templates instead*/
/*
div.abstract {
    color:red;
}
*/

/* Styles for an optional link button. Not in use. */
.linkButton {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#fff;
	/*font-family:Arial;*/
	font-size:14pt;
	font-weight:bold;
	padding:6px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}

.linkButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
	text-decoration:none;
	color:#fff;
	/*border:1px solid #333;*/
}

.linkButton:active {
	position:relative;
	top:1px;
}

p.carouselText a {
    color: navy; /*  */
	background-color: yellow;
	border: 3px white solid;
	opacity: 0.5;	
	padding: .25em;
}