{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

  <aside aria-labelledby="sidebar-heading">
   <nav role="navigation" aria-label="Page navigation">
    <div class="panel-heading">
        <h2 id ="sidebar-heading" class="panel-title">IASSIST 2026</h2>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/conferences/iassist2026">Home</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/faq">FAQ</a>
            </li>
<!--
            <li>
                <a href="/conferences/iassist2026/call-for-proposals">Call for Proposals</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/conference-schedule">Conference Schedule</a>
            </li>
          
            <li>
                <a href="/conferences/iassist2026/workshops">Workshop Schedule</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/speakers">Featured Speakers</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/registration">Registration</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/conference-hotel-and-accommodation">Conference Hotel and Accommodation</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/maps-and-local-information">Maps and Local Information</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/social-program">Social Program</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/visa-and-travel">Getting to Bristol and Visa</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/conference-committees">Conference Committees</a>
            </li>

            <li>
                <a href="/conferences/iassist2026/sponsorship">Sponsorship</a>
            </li>
-->
            <li>
                <a href="/community/code-of-conduct">Code of Conduct</a>
            </li>

            <li>
                <a href="/conferences/archive">Conference Archive</a>
            </li>

        </ul>
    </div>
   </nav>
  </aside>
</div>
