{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">About IASSIST</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/about/lorem">About IASSIST</a>
            </li>

            <li>
                <a href="/about/become-a-member">Becoming a Member</a>
            </li>

            <li>
                <a href="/about/faq">FAQ</a>
            </li>

            <li>
                <a href="/about/committees-and-groups">Committees and Groups</a>
            </li>

            <li>
                <a href="/about/officials">Officials</a>
            </li>

            <li>
                <a href="/about/fellows-program">Fellows Program</a>
            </li>

            <li>
                <a href="/about/constitution-2005">Constitution</a>
            </li>

            <li>
                <a href="/about/minutes-of-the-annual-general-meeting">Minutes of the AGM</a>
            </li>

            <li>
                <a href="/about/regional-secretaries-and-reports">Regions</a>
            </li>

            <li>
                <a href="/about/iassist-achievement-award">Achievement Award</a>
            </li>

            <li>
                <a href="/about/strategic-plans">IASSIST Strategic Plans</a>
            </li>

            <li>
                <a href="/about/iassist-elections">Elections</a>
            </li>
        </ul>
    </div>

</div>
