{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Anti-Racism Resources</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/community/antiracism-resources-test/">Guide Main Page</a>
            </li>
			
            <li>
                <a href="/community/antiracism-resources-test/a-ethics-and-best-practices/">Ethics and Best Practices</a>
            </li>
			
            <li>
                <a href="/community/antiracism-resources-test/b-sources-and-strategies/">Sources and Strategies</a>
				<ul>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#1-resource-guides">1. Resource Guides</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#2-governmental-sources">2. Governmental Sources</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#3-data-archives-repositories">3. Data Archives & Repositories</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#4-commercial-databases">4. Commercial Databases</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#5-think-tanks-research-centers-and-non-governmental-organizations">5. Think Tanks, Research Centers, and NGOs</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#6-funders-and-grantees">6. Funders and grantees</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#7-scholarly-works">7. Scholarly Works</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#8-newspapers-magazines-trade-publications">8. Newspapers, Magazines, & Trade Publications</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/b-sources-and-strategies/#9-social-networks">9. Social Networks</a>
					</li>
				</ul>
			</li>
			
            <li>
                <a href="/community/antiracism-resources-test/c-concepts-and-context/">Concepts and Context</a>
				<ul>
					<li>
						<a href="/community/antiracism-resources-test/c-concepts-and-context/#1-full-datasets-vs-quick-stats">1. Full datasets vs quick stats</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/c-concepts-and-context/#2-access">2. Access</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/c-concepts-and-context/#3-search-terms-and-language">3. Search terms and language</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/c-concepts-and-context/#4-guidance-for-collecting-data">4. Guidance for collecting data</a>
					</li>
					<li>
						<a href="/community/antiracism-resources-test/c-concepts-and-context/#5-guidance-for-analyzing-data">5. Guidance for analyzing data</a>
					</li>
					</li>
				</ul>
            </li>
        </ul>
    </div>

</div>
