{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Read more on IQ website</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="https://iassistquarterly.com/index.php/iassist">Journal Website <i class="fas fa-external-link-alt"></i></a>
            </li>

            <li>
                <a href="https://iassistquarterly.com/index.php/iassist/about">About IASSIST Quarterly <i class="fas fa-external-link-alt"></i></a>
            </li>

            <li>
                <a href="https://iassistquarterly.com/index.php/iassist/issue/archive">All Issues <i class="fas fa-external-link-alt"></i></a>
            </li>

            <li>
                <a href="https://iassistquarterly.com/index.php/iassist/about/submissions">Submission Instructions <i class="fas fa-external-link-alt"></i></a>
            </li>

        </ul>
    </div>

</div>
