{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

  <aside aria-labelledby="sidebar-heading">
   <nav role="navigation" aria-label="Page navigation">
    <div class="panel-heading">
        <h2 id ="sidebar-heading" class="panel-title">Conferences</h2>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/conferences/#annual">Annual IASSIST Conference</a>
            </li>

            <li>
                <a href="/conferences/presentations-from-the-previous-conference">Presentations from the Previous Conference</a>
            </li>				

            <li>
                <a href="/conferences/archive">Conference Archive</a>
            </li>

            <li>
                <a href="/conferences/guidelines-for-hosting-iassist-conferences">Guidelines for Hosting</a>
            </li>
			
            <li>
                <a href="/conferences/program-planning-manual">Program Planning Manual</a>
            </li>

            <li>
                <a href="/conferences/conference-committees">Conference Committees</a>
            </li>

            <li>
                <a href="/conferences/event-sponsorship">Event Sponsorship</a>
            </li>

            <li>
                <a href="/community/code-of-conduct">Code of Conduct</a>
            </li>

            <!--
			<li>
                <a href="#">Conference Souvenirs</a>
            </li>

            <li>
                <a href="#">Conference Photos</a>
            </li>
			-->

        </ul>
    </div>
   </nav>
  </aside>
</div>
