{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

  <aside aria-labelledby="sidebar-heading">
   <nav role="navigation" aria-label="Page navigation">
    <div class="panel-heading">
        <h2 id ="sidebar-heading" class="panel-title">About IASSIST</h2>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/about/">About IASSIST</a>
            </li>

            <li>
                <a href="/about/become-a-member">Become a Member</a>
            </li>

            <li>
                <a href="/about/officials">Officials</a>
            </li>

            <li>
                <a href="/about/committees-and-groups">Committees and Groups</a>
            </li>

            <li>
                <a href="/about/fellows-program">Fellows Program</a>
            </li>

            <li>
                <a href="/about/minutes-of-the-annual-general-meeting">Minutes of the AGM</a>
            </li>

            <li>
                <a href="/about/regional-secretaries-and-reports">Regions</a>
            </li>

            <li>
                <a href="/about/iassist-achievement-award">Achievement Award</a>
            </li>

            <li>
                <a href="/about/iassist-constitution">Constitution</a>
            </li>

            <li>
                <a href="/about/privacy-policy">Privacy Policy</a>
            </li>

            <li>
                <a href="/about/strategic-plans">IASSIST Strategic Plans</a>
            </li>

            <li>
                <a href="/about/iassist-elections">Elections</a>
            </li>

            <li>
                <a href="/about/media">Media</a>
            </li>

            <li>
                <a href="/about/faq">FAQ</a>
            </li>
        </ul>
    </div>
  </aside>
 </nav>
</div>
