{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">IASSIST & CARTO 2024</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/conferences/iassist2024">Home</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/faq">FAQ</a>
            </li>
            
            <li>
                <a href="/conferences/iassist2024/call-for-submissions">Call for Submissions</a>
            </li>
			
            <li>
                <a href="/conferences/iassist2024/conference-schedule">Conference Schedule</a>
            </li>		
           
            <li>
                <a href="/conferences/iassist2024/workshops">Workshop Schedule</a>
            </li>	

            <li>
                <a href="/conferences/iassist2024/speakers">Featured Speakers</a>
            </li>		

            <li>
                <a href="/conferences/iassist2024/registration">Registration</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/conference-hotel-and-accommodation">Conference Hotel and Accommodation</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/maps-and-local-information">Maps and Local Information</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/social-program">Social Program</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/visa-and-travel">Visa and Travel</a>
            </li>
			
            <li>
                <a href="/conferences/iassist2024/conference-committees">Conference Committees</a>
            </li>

            <li>
                <a href="/conferences/iassist2024/sponsorship">Sponsorship</a>
            </li>

            <li>
                <a href="/community/code-of-conduct">Code of Conduct</a>
            </li>
			
            <li>
                <a href="/conferences/archive">Conference Archive</a>
            </li>

        </ul>
    </div>

</div>
