{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Conferences</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/conferences/">Annual IASSIST Conference</a>
            </li>
			
            <li>
                <a href="/conferences/#other-events">Other IASSIST Events</a>
            </li>			
			
            <li>
                <a href="/conferences/presentations-from-the-previous-conference">Presentations from the Previous Conference</a>
            </li>				

            <li>
                <a href="/conferences/archive">Conference Archive</a>
            </li>

            <li>
                <a href="/conferences/guidelines-for-hosting-iassist-conferences">Guidelines for Hosting</a>
            </li>
			
            <li>
                <a href="/conferences/program-planning-manual">Program Planning Manual</a>
            </li>

            <li>
                <a href="/conferences/conference-committees">Conference Committees</a>
            </li>

            <li>
                <a href="/conferences/event-sponsorship">Event Sponsorship</a>
            </li>

            <li>
                <a href="/community/code-of-conduct">Code of Conduct</a>
            </li>

            <!--
			<li>
                <a href="#">Conference Souvenirs</a>
            </li>

            <li>
                <a href="#">Conference Photos</a>
            </li>
			-->

        </ul>
    </div>

</div>
