{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

  <aside aria-labelledby="sidebar-heading">
   <nav role="navigation" aria-label="Page navigation">
    <div class="panel-heading">
        <h2 id ="sidebar-heading" class="panel-title">Community</h2>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

			<li>
                <a href="/jobs-repository/">Jobs Repository</a>
            </li>

            <li>
                <a href="/community/iassist-webinars">IASSIST Webinars</a>
            </li>

            <li>
                <a href="/community/iassist-africa-chapter">IASSIST Africa</a>
            </li>

			<li style="padding: 0px 15px; font-weight:bold; background:#e1c1d6;">Interest groups</li>

            <li>
                <a href="/community/geospatial-interest-group">Geospatial Interest Group</a>
            </li>

			<li>
                <a href="/community/qualitative-social-science-and-humanities-data-interest-group">Qualitative Social Science and Humanities Data Interest Group</a>
            </li>	

			<li>
                <a href="/community/diversity-equity-and-inclusion-data-resources">Diversity, Equity, and Inclusion Data Resources</a>
            </li>

            <li>
                <a href="/community/previous-interest-groups">Former Interest Groups</a>
            </li>

			<li style="padding: 0px 15px; font-weight:bold; background:#e1c1d6;">Related topics</li>

			<li>
                <a href="/about/become-a-member">Join IASSIST</a>
            </li>

			<li>
                <a href="https://www.iassistdata.info" target="_blank">Membership Site <span class="fas fa-external-link-alt"></span></a>
            </li>

			<li>
                <a href="/about/committees-and-groups">Commmittees and officials</a>
            </li>

			<li>
                <a href="/about/iassist-discussion-list">Discussion List</a>
            </li>

			<li>
                <a href="/community/code-of-conduct">Code of Conduct</a>
            </li>

			<li>
                <a href="/about/iassist-achievement-award">IASSIST Achievement Award</a>
            </li>

        </ul>
    </div>
   </nav>
  </aside>
</div>
