{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Conferences</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

            <li>
                <a href="/conferences/conferences">Conferences</a>
            </li>

            <li>
                <a href="/conferences/archive">Conference Archive</a>
            </li>

            <li>
                <a href="/conferences/conference-presentations">Presentations from the Previous Conference</a>
            </li>			

            <li>
                <a href="/conferences/conference-code-of-conduct">Code of Conduct</a>
            </li>

            <li>
                <a href="/conferences/guidelines-for-hosting-iassist-conferences">Guidelines for Hosting</a>
            </li>

            <li>
                <a href="/conferences/conference-committees">Conference Committees</a>
            </li>

            <!--
			<li>
                <a href="#">Conference Memorabilia</a>
            </li>

            <li>
                <a href="#">Conference Photos</a>
            </li>
			-->

        </ul>
    </div>

</div>
