{{ partial "widgets/search.html" . }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Community</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">

			<li>
                <a href="/community/iassist-webinars">IASSIST Webinars</a>
            </li>

            <li>
                <a href="/community/geospatial-interest-group">Geospatial Interest Group</a>
            </li>
			
            <li>
                <a href="/community/health-data-interest-group">Health Data Interest Group</a>
            </li>

			<li>
                <a href="/community/qualitative-social-science-and-humanities-data-interest-group">Qualitative Social Science and Humanities Data Interest Group</a>
            </li>	
	
            <li>
                <a href="/community/previous-interest-groups">Previous Interest Groups</a>
            </li>
			<!--
			<li>
                <a href="/community/#">more</a>
            </li>
			-->
			
			<li>--- Membership related topics ---</li>
			
			<li>
                <a href="/about/become-a-member">Join IASSIST</a>
            </li>

			<li>
                <a href="https://www.iassistdata.info" target="_blank">Membership Site (opens an external page)</a>
            </li>			

			<li>
                <a href="/about/iassist-discussion-list">IASSIST Discussion List</a>
            </li>

        </ul>
    </div>

</div>
